table , td ,tr{
    border: 1px solid black;
    border-collapse: collapse;
    
    }
    .container{
    margin: 25px 50px 25px 50px;
        width:1500px;
    
    }
        .view{
          width: 1200px;
          height: 100px;
          align-items: center;
        }
        .view1{
            font-size: 12px;
            margin-left: auto;
            margin-right: auto;
            width: 800px;
            height: 80px;
                font-family:  Calibri-Bold_db;
        }
        .in{
    text-align: center;
        }
        /*Second table*/
        .t1{
            width: 580px;
        }
        .se{
        font-size: 12px;
        font-family: Calibri-Bold_db;
        color: black;
    }
    .se1{
        font-size: 9px;
        font-family: Calibri-BoldItalic_dj;
        color: #0A0A0A;
    
      
    }
    .se2{
      
        font-size: 9px;
        font-family: Calibri-Italic_dl;
        color: #3B3838;
    }
    .seh{
      font-size: 12px;
        font-family: Calibri_df;
        color: #000;
    }
        .fe{
        font-size: 17px;
        font-family: Calibri-Bold_db;
        color: black;}
        .te{
          text-align: center;
        font-size: 12px;
        font-family: Calibri-Italic_dl;
        color: #7E7E7E;
        }
        .Author{
            width: 500px;
    height: 10px;
    align-items: center;
          
        font-size: 11px;
        font-family: Calibri_df;
        color: #000;
    }
    .signature{
        align-items: center;
        width: 400px;
        height: 60px;
          
        font-size: 11px;
        font-family:Calibri-Bold_db;
        color: #000;
    }
    .sign{
        width: 1200px;
        height: 80px;
          font-size: 11px;
        font-family: Calibri_df;
        color: #000;
    }
        
        .fe{
          
        font-size: 12px;
        font-family: Calibri-Bold_db;
        color: #000;
        }
        .signature{
        width: 1450px;
        height: 25px;
    }
    .heading{
      background-color:		#6C9DC6;
    }
    .heading1{
    background-color:#6C9DC6;
    }
    .block{
    display: block;
    border: 3px solid black;
    border-style: none none dotted none;
    background-color:#FFE0B3;
    height: 30px;
    font-size: 12px;
        font-family: Calibri-Bold_db;
        color: black;
    }
    .gap{
    background-color:#EBC7EB;
    
    }
    .tee{
     font-size: 12px;
        font-family: Calibri-Italic_dl;
        color: #7E7E7E;
          text-align: center;
    }
    .heading2{background-color:#D3F8D3;
font-size: 12px;
    }
    .a{
        text-align: center;
    }

.box{
    display:inline-flex;
    flex-direction:row;
  justify-content: space-around;
   align-items: center;
   font-size: large;
}
#line{
    border: 1px solid red;
    margin-top: 15px;
  
   
}
.ce{
    text-align: center;
}
#a,#b{
width:580px;
}
#five{
    height: 300px;
}
#l,#m,#n{
    width: 180px;
    
}

#l1,#m1,#n1{
    width: 180px;
    
}